 /* font-er-style  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

/* body-er-style --- */
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
background-color: #effff6;
}

header{
    margin-top: 50px;
    margin-left: 90px;
}
 
 
 
 /* section-css */
.niche-ay{
    display: grid;

    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 60px;
    
}

/* button-css start*/
.link-button{
    text-decoration: none;
        font-size: 18px;
        padding: 10px 40px ; 
        margin-left: 100px;
        background-color: rgb(90, 161, 241);
        border-radius: 20px;
        color:rgb(255, 235, 235);
        font-weight: 900;}
        
       .fa-long-arrow-alt-right{
           padding-left: 20px;
           margin-top: 50px;

       }

        .zoom-in:hover{
            transform: scale(1.0200);
            transform-origin: left;
            transition:0.2s;

        }

        /* button-css end --- */
        

.margin-padding{
    margin-top: 100px;
    margin-right: 100px;
    padding-left: 100px;
}        

.img-1st-sec{
    margin-right: 50px;
    padding-left: 100px;
}

/* styles of h and para tag */

.para{
    padding-top: 10px;
    padding-bottom: 10px;
}
section h1{
    color: rgb(39, 129, 231);
    font-size: 50px;
}

/* 1st-section-css-end  */


/* 2nd-section-start ------------------------------ */

.text-align-center{
    text-align: center;
    margin-top: 150px;
}

/* grid-eikhane ----------
----------------------------- */



.items{
    
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    column-gap: 0px;
}


.border-eikhane{
    border: 15px solid rgb(236, 246, 255);
    border-radius: 7px;
    
    width: 300px;
    height: 550px;


}




/* star-er-rong ------
-------------- */
.star-color{
color: gold;
}

.ronghin{
color: rgb(130, 143, 130);
}

/* star-er-rong-end ------
-------------- */

/* item-er-css-eikhane --------
--------- */

.query{
    margin-left: 100px;
    
}

.item-info{
display: flex;

}

.item-detail{
margin-bottom: 25px;
margin-left: 10px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 0px;
}

.item .item-banner img{
width: 300px;
height: 300px
}




.margin-up{
    margin: 20px;
    color: cadetblue;
}


    /* Bonus-section-here---start----- --
    -------------------------- */

    .log-form{
       display: grid;
       grid-template-columns: repeat(1 ,1fr);
        flex-direction: column;
    }
    

    .log-form input , button{
        font-size: 1.5em;
        margin: 2px;
        border:1px solid skyblue;
        border-radius: 2px;
    }

    .log-form button{
        background-color: teal;
        color: whitesmoke;
        font-weight: 700;
    }

    .size{
        width: 40px;
        margin-left: 50%;
        justify-content: center;
    }

    

  








    /* Bonus-section-here---end----- --
    -------------------------- */



    /* footer-er-css  */


    footer{
        background-color: rgb(39, 129, 231);
        text-align: center;
        color: white;
        padding: 10px;
        margin-top: 100px;
        position: relative;
    }

    .logo-merg{
        margin-top: 5px;
    }




/* item-er-css-eikhane -end--------
--------- */

/* media-query-eikhane ---------start */

/* for-mobile-display ---
 --------*/

 @media only screen and (max-width:688px){
     


    /* 1st-section-er-query-start ---------
    --------------------- */
    .item-container{
    width: 100%;
        


    }



    .niche-ay{
        grid-template-columns: repeat(1 , 1fr);
       justify-content: center;
       margin-right:40px;
       width: 100%;


    }




 /* 1st-section-er-query-end ---------
    --------------------- */
    
    



 /* 2nd-section-er-query-start ---------
    --------------------- */

   .query{
        width: 100%;
   }

   .items{
       grid-template-columns: repeat(1 , 1fr);
       justify-content: center;
       margin-left: 30px;

   }
   .item{
       flex-direction: column;
   }

   
   


 }
    /* 2nd-section-er-query-end ---------
    --------------------- */


    
    

    
    @media only screen and (min-width:688px) and (max-width:992px) {
        .query{
            width: 100%;
       }
    
       .items{
           grid-template-columns: repeat(2 , 1fr);
           justify-content: center;
           margin-left: 10px;
           margin-right: 20px;
           
    
       }
       .item{
           flex-direction: column;
       }

       .niche-ay{
        grid-template-columns: repeat(1 , 1fr);
       justify-content: center;
       margin-right:40px;
       width: 100%;


    }

    }







/* media-query-eikhane ---------start */
